/* CSS RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* IMAGE USE

Background image used taken from Pexels.com. 
Photo by Alex Powell

*/

/* GLOBAL */

body,
html {
  font-family: "Source Sans Pro", sans-serif;
  background-color: black;
  font-size: 18px;
  color: white;
}

.wrapper {
  width: 0 auto;
  min-width: 300px;
}

/* HEADER */

.logo {
  width: 50px;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 5;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
}

header li {
  list-style: none;
  display: inline;
}

header li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  margin: 5px;
  color: black;
}

header li a:hover {
  text-decoration: underline;
}

.current {
  background-color: #73e2a7;
  color: black;
  padding: 5px;
}

/* HERO BANNER */

.hero-banner {
  position: relative;
  overflow: hidden;
  background-image: url("./images/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 445px;
  padding: 30px;
}

.hero-content {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  color: white;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

.hero-button {
  background-color: #73e2a7;
  color: black;
  font-size: 25px;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  text-decoration: none;
}

/* MAIN CONTENT */

.main-content {
  position: relative;
  overflow: hidden;
  background-color: black;
  padding: 10px;
  height: 520px;
}

.main-content img {
  width: 100%;
}

/* TOURS */

.tours-content {
  position: relative;
  overflow: hidden;
  background-color: black;
  padding: 10px;
  height: 2550px;
}

.tour-option-one {
  margin-bottom: 20px;
}

.tour-option-two {
  margin-bottom: 20px;
}

.tour-option-three {
  margin-bottom: 20px;
}

iframe {
  display: block;
  margin-top: 20px;
  height: 450px;
  border: none;
  margin-bottom: 20px;
  width: 100%;
}

.tours-content li {
  list-style: none;
}

.tours-content p {
  margin-bottom: 20px;
}

.tours-content h3 {
  margin-bottom: 20px;
}

/* LINE BREAK */

hr {
  width: 125px;
  border-color: #73e2a7;
}

/* MISC */

p {
  margin-bottom: 25px;
}

figcaption {
  font-size: 10px;
  margin-bottom: 25px;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 10px;
}

.footer-contact {
  flex: 1;
  margin-bottom: 10px;
}

.footer-contact li {
  list-style: none;
}

.footer-menu {
  flex: 1;
  margin-bottom: 10px;
}

.footer-menu li {
  list-style: none;
}

.footer-menu a {
  color: white;
}

.footer-menu a:hover {
  color: #73e2a7;
}

.footer-menu img {
  width: 40px;
}

.footer-newsletter {
  flex: 1;
  margin-bottom: 10px;
}

.footer-newsletter h2 {
  margin-bottom: 10px;
}

.social-icons {
  margin-top: 16px;
}

fieldset {
  border: 1px dashed #73e2a7;
  padding: 16px;
}

legend {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

input[type="text"] {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  width: 95%;
  height: 32px;
  padding: 0 0 0 8px;
}

textarea {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  margin-bottom: 8px;
  width: 95%;
  padding: 8px 0 0 8px;
}

input[type="submit"] {
  background-color: #73e2a7;
  padding: 15px 30px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 15px;
  border: none;
  margin-top: 16px;
}

input {
  margin: 0 0 12px 0;
}

.copyright {
  background-color: black;
  text-align: center;
  font-size: 12px;
}

/* LARGE MOBILE */

@media only screen and (min-width: 375px) {
  .hero-banner {
    height: 680px;
  }

  .main-content {
    height: 720px;
  }
}

/* TABLET */

@media only screen and (min-width: 768px) {
  footer {
    flex-direction: row;
    margin: 0 auto;
    width: 700px;
  }

  .hero-banner {
    height: 680px;
  }

  header {
    background-color: black;
    width: 700px;
    margin: 0 auto;
    position: initial;
  }

  header li a {
    color: white;
  }

  h1 {
    font-size: 45px;
    margin-top: 150px;
  }

  .main-content {
    width: 700px;
    margin: 0 auto;
  }

  .tours-content {
    width: 700px;
    margin: 0 auto;
  }

  iframe {
    flex: 1;
  }

  .about-img {
    width: 600px;
  }
}

/* DESKTOP */

@media only screen and (min-width: 1280px) {
  .wrapper {
    max-width: 1920px;
    margin: 0 auto;
  }

  .main-content {
    width: 950px;
    margin: 0 auto;
  }

  .tours-content {
    width: 950px;
    margin: 0 auto;
    display: flex;
    height: 100vh;
  }

  .tour-option-one {
    flex: 1;
    margin-right: 16px;
  }

  .tour-option-two {
    flex: 1;
    margin: 48px 16px 0 0;
  }

  .tour-option-three {
    flex: 1;
    margin: 48px 16px 0 0;
  }

  .tour-option-one input {
    margin-top: 56px;
  }

  .tour-option-two input {
    margin-top: 16px;
  }

  .tour-option-three input {
    margin-top: 40px;
  }

  iframe {
    height: 250px;
  }

  footer {
    width: 950px;
  }

  header {
    width: 950px;
    margin: 0 auto;
  }

  h1 {
    font-size: 60px;
  }
}
